In [1]:
import pandas as pd
import requests
import time
from bs4 import BeautifulSoup as bs
from google.colab import drive

In [5]:
countries = {"ar": "Argentina",
             "au": "Australia",
             "at": "Austria",
             "by": "Belarus",
             "be": "Belgium",
             "bo": "Bolivia",
             "br": "Brazil",
             "bg": "Bulgaria",
             "ca": "Canada",
             "cl": "Chile",
             "co": "Colombia",
             "cr": "Costa Rica",
             "cy": "Cyprus",
             "cz": "Czech Republic",
             "dk": "Denmark",
             "do": "Dominican Republic",
             "ec": "Ecuador",
             "eg": "Egypt",
             "sv": "El Salvador",
             "ee": "Estonia",
             "fi": "Finland",
             "fr": "France",
             "de": "Germany",
             "gr": "Greece",
             "gt": "Guatemala",
             "hn": "Honduras",
             "hk": "Hong Kong",
             "hu": "Hungary",
             "is": "Iceland",
             "in": "India",
             "id": "Indonesia",
             "ie": "Ireland",
             "il": "Israel",
             "it": "Italy",
             "jp": "Japan",
             "kz": "Kazakhstan",
             "lv": "Latvia",
             "lt": "Lithuania",
             "lu": "Luxembourg",
             "my": "Malaysia",
             "mx": "Mexico",
             "ma": "Morocco",
             "nl": "Netherlands",
             "nz": "New Zealand",
             "ni": "Nicaragua",
             "ng": "Nigeria",
             "no": "Norway",
             "pa": "Panama",
             "py": "Paraguay",
             "pe": "Peru",
             "ph": "Philippines",
             "pl": "Poland",
             "pt": "Portugal",
             "ro": "Romania",
             "ru": "Russia",
             "sa": "Saudi Arabia",
             "sg": "Singapore",
             "sk": "Slovakia",
             "za": "South Africa",
             "kr": "South Korea",
             "es": "Spain",
             "se": "Sweden",
             "ch": "Switzerland",
             "tw": "Taiwan",
             "th": "Thailand",
             "tr": "Turkey",
             "ae": "United Arab Emirates",
             "ua": "Ukraine",
             "gb": "United Kingdom",
             "uy": "Uruguay",
             "us": "United States",
             "vn": "Vietnam"
             }

In [3]:
def scrape_page(country_code, date1, date2):
  url = "https://spotifycharts.com/regional/" + country_code + "/weekly/" + date1 + "--" + date2
  headers = {'user-agent': 'Chrome/76.67.59.152'}
  scraped = requests.get(url, headers = headers)
  scraped_html = bs(scraped.content, 'html.parser')

  df = pd.DataFrame(columns = ['Source', 'Position', 'Trend', 'Track', 'Streams'])
  
  table = scraped_html.find('table')

  if table:
    table_rows = table.find_all('tr')
    for row in table_rows:
      td = row.find_all('td')
      row_text = [str(t) for t in td]
      if row_text:
        new_row = pd.DataFrame({'Source': [row_text[0]],
                                'Position': [row_text[1]],
                                'Trend': [row_text[2]],
                                'Track': [row_text[3]],
                                'Streams': [row_text[4]]})
        df = df.append(new_row, ignore_index = True)
    
    df = df.assign(Country = countries[country_code], Country_Code = country_code, Week_Start = date1, Week_Ending = date2)

  return(df)

In [ ]:
scrape_page("ca", "2022-02-18", "2022-02-25")

,Source,Position,Trend,Track,Streams,Country,Country_Code,Week_Start,Week_Ending
0,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">1</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Heat W...","<td class=""chart-table-streams"">1,099,055</td>",Canada,ca,2022-02-18,2022-02-25
1,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">2</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>We Don...","<td class=""chart-table-streams"">940,297</td>",Canada,ca,2022-02-18,2022-02-25
2,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">3</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Cold H...","<td class=""chart-table-streams"">892,920</td>",Canada,ca,2022-02-18,2022-02-25
3,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">4</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>STAY (...","<td class=""chart-table-streams"">857,678</td>",Canada,ca,2022-02-18,2022-02-25
4,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">5</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Nail T...","<td class=""chart-table-streams"">851,219</td>",Canada,ca,2022-02-18,2022-02-25
...,...,...,...,...,...,...,...,...,...
195,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">196</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>NEW MA...","<td class=""chart-table-streams"">209,185</td>",Canada,ca,2022-02-18,2022-02-25
196,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">197</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>I AM W...","<td class=""chart-table-streams"">208,777</td>",Canada,ca,2022-02-18,2022-02-25
197,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">198</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Acapul...","<td class=""chart-table-streams"">208,261</td>",Canada,ca,2022-02-18,2022-02-25
198,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">199</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Tennes...","<td class=""chart-table-streams"">207,911</td>",Canada,ca,2022-02-18,2022-02-25
199,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">200</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Redbon...","<td class=""chart-table-streams"">207,910</td>",Canada,ca,2022-02-18,2022-02-25

In [6]:
spotify_data = pd.DataFrame()
for country_code in countries.keys():
  country_df = scrape_page(country_code, "2022-02-25", "2022-03-04")
  spotify_data = spotify_data.append(country_df, ignore_index = True)
  print("Country Name: " + countries[country_code])
  print("Country Code: " + country_code)
  print("Read " + str(country_df.shape[0]) + " rows")
  print("Total Rows: " + str(spotify_data.shape[0]) + "\n")
  time.sleep(1)

Country Name: Argentina
Country Code: ar
Read 200 rows
Total Rows: 200

Country Name: Australia
Country Code: au
Read 200 rows
Total Rows: 400

Country Name: Austria
Country Code: at
Read 200 rows
Total Rows: 600

Country Name: Belarus
Country Code: by
Read 200 rows
Total Rows: 800

Country Name: Belgium
Country Code: be
Read 200 rows
Total Rows: 1000

Country Name: Bolivia
Country Code: bo
Read 200 rows
Total Rows: 1200

Country Name: Brazil
Country Code: br
Read 200 rows
Total Rows: 1400

Country Name: Bulgaria
Country Code: bg
Read 200 rows
Total Rows: 1600

Country Name: Canada
Country Code: ca
Read 200 rows
Total Rows: 1800

Country Name: Chile
Country Code: cl
Read 200 rows
Total Rows: 2000

Country Name: Colombia
Country Code: co
Read 200 rows
Total Rows: 2200

Country Name: Costa Rica
Country Code: cr
Read 200 rows
Total Rows: 2400

Country Name: Cyprus
Country Code: cy
Read 200 rows
Total Rows: 2600

Country Name: Czech Republic
Country Code: cz
Read 200 rows
Total Rows: 2800

Country Name: Denmark
Country Code: dk
Read 200 rows
Total Rows: 3000

Country Name: Dominican Republic
Country Code: do
Read 200 rows
Total Rows: 3200

Country Name: Ecuador
Country Code: ec
Read 200 rows
Total Rows: 3400

Country Name: Egypt
Country Code: eg
Read 200 rows
Total Rows: 3600

Country Name: El Salvador
Country Code: sv
Read 200 rows
Total Rows: 3800

Country Name: Estonia
Country Code: ee
Read 200 rows
Total Rows: 4000

Country Name: Finland
Country Code: fi
Read 200 rows
Total Rows: 4200

Country Name: France
Country Code: fr
Read 200 rows
Total Rows: 4400

Country Name: Germany
Country Code: de
Read 200 rows
Total Rows: 4600

Country Name: Greece
Country Code: gr
Read 200 rows
Total Rows: 4800

Country Name: Guatemala
Country Code: gt
Read 200 rows
Total Rows: 5000

Country Name: Honduras
Country Code: hn
Read 200 rows
Total Rows: 5200

Country Name: Hong Kong
Country Code: hk
Read 200 rows
Total Rows: 5400

Country Name: Hungary
Country Code: hu
Read 200 rows
Total Rows: 5600

Country Name: Iceland
Country Code: is
Read 200 rows
Total Rows: 5800

Country Name: India
Country Code: in
Read 200 rows
Total Rows: 6000

Country Name: Indonesia
Country Code: id
Read 200 rows
Total Rows: 6200

Country Name: Ireland
Country Code: ie
Read 200 rows
Total Rows: 6400

Country Name: Israel
Country Code: il
Read 200 rows
Total Rows: 6600

Country Name: Italy
Country Code: it
Read 200 rows
Total Rows: 6800

Country Name: Japan
Country Code: jp
Read 200 rows
Total Rows: 7000

Country Name: Kazakhstan
Country Code: kz
Read 200 rows
Total Rows: 7200

Country Name: Latvia
Country Code: lv
Read 200 rows
Total Rows: 7400

Country Name: Lithuania
Country Code: lt
Read 200 rows
Total Rows: 7600

Country Name: Luxembourg
Country Code: lu
Read 200 rows
Total Rows: 7800

Country Name: Malaysia
Country Code: my
Read 200 rows
Total Rows: 8000

Country Name: Mexico
Country Code: mx
Read 200 rows
Total Rows: 8200

Country Name: Morocco
Country Code: ma
Read 200 rows
Total Rows: 8400

Country Name: Netherlands
Country Code: nl
Read 200 rows
Total Rows: 8600

Country Name: New Zealand
Country Code: nz
Read 200 rows
Total Rows: 8800

Country Name: Nicaragua
Country Code: ni
Read 200 rows
Total Rows: 9000

Country Name: Nigeria
Country Code: ng
Read 200 rows
Total Rows: 9200

Country Name: Norway
Country Code: no
Read 200 rows
Total Rows: 9400

Country Name: Panama
Country Code: pa
Read 200 rows
Total Rows: 9600

Country Name: Paraguay
Country Code: py
Read 200 rows
Total Rows: 9800

Country Name: Peru
Country Code: pe
Read 200 rows
Total Rows: 10000

Country Name: Philippines
Country Code: ph
Read 200 rows
Total Rows: 10200

Country Name: Poland
Country Code: pl
Read 200 rows
Total Rows: 10400

Country Name: Portugal
Country Code: pt
Read 200 rows
Total Rows: 10600

Country Name: Romania
Country Code: ro
Read 200 rows
Total Rows: 10800

Country Name: Russia
Country Code: ru
Read 200 rows
Total Rows: 11000

Country Name: Saudi Arabia
Country Code: sa
Read 200 rows
Total Rows: 11200

Country Name: Singapore
Country Code: sg
Read 200 rows
Total Rows: 11400

Country Name: Slovakia
Country Code: sk
Read 200 rows
Total Rows: 11600

Country Name: South Africa
Country Code: za
Read 200 rows
Total Rows: 11800

Country Name: South Korea
Country Code: kr
Read 200 rows
Total Rows: 12000

Country Name: Spain
Country Code: es
Read 200 rows
Total Rows: 12200

Country Name: Sweden
Country Code: se
Read 200 rows
Total Rows: 12400

Country Name: Switzerland
Country Code: ch
Read 200 rows
Total Rows: 12600

Country Name: Taiwan
Country Code: tw
Read 200 rows
Total Rows: 12800

Country Name: Thailand
Country Code: th
Read 200 rows
Total Rows: 13000

Country Name: Turkey
Country Code: tr
Read 200 rows
Total Rows: 13200

Country Name: United Arab Emirates
Country Code: ae
Read 200 rows
Total Rows: 13400

Country Name: Ukraine
Country Code: ua
Read 200 rows
Total Rows: 13600

Country Name: United Kingdom
Country Code: gb
Read 200 rows
Total Rows: 13800

Country Name: Uruguay
Country Code: uy
Read 200 rows
Total Rows: 14000

Country Name: United States
Country Code: us
Read 200 rows
Total Rows: 14200

Country Name: Vietnam
Country Code: vn
Read 200 rows
Total Rows: 14400

In [ ]:
spotify_data

,Source,Position,Trend,Track,Streams,Country,Country_Code,Week_Start,Week_Ending
0,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">1</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Desesp...","<td class=""chart-table-streams"">2,418,733</td>",Argentina,ar,2022-02-25,2022-03-04
1,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">2</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Univer...","<td class=""chart-table-streams"">2,221,864</td>",Argentina,ar,2022-02-25,2022-03-04
2,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">3</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Tranqu...","<td class=""chart-table-streams"">2,066,113</td>",Argentina,ar,2022-02-25,2022-03-04
3,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">4</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Marte<...","<td class=""chart-table-streams"">2,035,577</td>",Argentina,ar,2022-02-25,2022-03-04
4,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">5</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>La Tra...","<td class=""chart-table-streams"">2,002,565</td>",Argentina,ar,2022-02-25,2022-03-04
...,...,...,...,...,...,...,...,...,...
14195,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">196</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Outro:...","<td class=""chart-table-streams"">36,315</td>",Vietnam,vn,2022-02-25,2022-03-04
14196,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">197</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Run - ...","<td class=""chart-table-streams"">36,190</td>",Vietnam,vn,2022-02-25,2022-03-04
14197,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">198</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>FAKE L...","<td class=""chart-table-streams"">36,186</td>",Vietnam,vn,2022-02-25,2022-03-04
14198,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">199</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Sao Em...","<td class=""chart-table-streams"">36,133</td>",Vietnam,vn,2022-02-25,2022-03-04
14199,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">200</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Ái Nộ<...","<td class=""chart-table-streams"">36,094</td>",Vietnam,vn,2022-02-25,2022-03-04

In [7]:
drive.mount('/drive')
spotify_data.to_csv('/drive/My Drive/JSC370 Data/spotify_data_weekly.csv', encoding = 'utf-8', index = False)

Mounted at /drive